<div class="container-fluid">
    <div class="row">
        <div id="music" class="col-md-6 main">
               <a routerLink="../music"><i class="fas fa-music"></i></a>
        </div>
        <div id="navigation" class="col-md-6 main">
                <a routerLink="../navigation" href="#"><i class="fas fa-globe"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 main">
                <a routerLink="../phone" href="#"><i class="fas fa-phone"></i></a>
        </div>
        <div id="options" class="col-md-6 main">
                <a routerLink="../options" href="#"><i class="fas fa-cog"></i></a>
        </div>
    </div>
</div> 