
<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" routerLinkActive routerLink="/main-menu" href="#"><i class="fas fa-home"> HOME</i></a>
    <a class="navbar-brand" routerLink="music" href="#"><i class="fas fa-music"> MUSIC</i></a>
    <a class="navbar-brand" routerLink="phone" href="#"><i class="fas fa-phone"> PHONE</i></a>
    <a class="navbar-brand" routerLink="navigation" href="#"><i class="fas fa-globe"> NAVIGATION</i></a>
    <a class="navbar-brand" routerLink="options" href="#"><i class="fas fa-cog"> OPTIONS</i></a>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

