
<!-- <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?&origin=Oslo+Norway
&destination=Telemark+Norway&key=AIzaSyD7TWpKcoaAcB43P2C1RTlMAjERYlzk3Jo" allowfullscreen></iframe> -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <input type="text" placeholder="Start" style="float:right" [(ngModel)]="start">
          <input type="text" placeholder="Arrival" [(ngModel)]="arrival">
      </div>
    </div>
  </div>
<div #gmap style="width:100%;height:90%;position:absolute;"></div>       

<div #directionsPanel style="float:right;width:30%;height:100%"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7TWpKcoaAcB43P2C1RTlMAjERYlzk3Jo">
</script>